<div class="container list-container">
  <h3 class="mt-3"><%= I18n.t('users.index.title') %></h3>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('users.attributes.name') %></th>
        <th scope="col"><%= I18n.t('users.attributes.email') %></th>
        <th scope="col"><%= I18n.t('users.attributes.action') %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>Text</td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
